extends /layout/app

block content

  .container
    .slider.pluses-slider
      .slider__wrapper.pluses-wrapper
        .slide.pluses-slide
          .slide__part.slide__part--padding
            h3.slide__subtitle.title-second
              | Title 1
            .slide__info
              p
                | <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est fuga laudantium modi nostrum
                |  pariatur! Ab assumenda commodi, dignissimos distinctio id ipsum laborum minima mollitia, numquam odit
                |  sequi vel vitae voluptatibus?</span><span>Dolore dolorum, et ex minus nihil optio qui, quia quibusdam
                |  quis sed ullam vero. Accusantium aperiam, beatae dolor eligendi esse eum fugiat iure molestiae natus
                |  quia reprehenderit suscipit veritatis voluptas.</span>
            .slide__pagination
              .slide__btns
                button.slide__btn.slide__btn-prev.pluses-btn.pluses-btn--prev
                  svg(width='10' height='16' viewbox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9.64062 8.42188C9.875 8.1875 9.875 7.85938 9.64062 7.625L2.79688 0.6875C2.5625 0.453125 2.1875 0.453125 2 0.6875L1.0625 1.625C0.828125 1.8125 0.828125 2.1875 1.0625 2.42188L6.59375 8L1.0625 13.625C0.828125 13.8594 0.828125 14.1875 1.0625 14.4219L2 15.3594C2.1875 15.5938 2.5625 15.5938 2.79688 15.3594L9.64062 8.42188Z' fill='#FFBC1C')
                button.slide__btn.slide__btn-next.pluses-btn--next
                  svg(width='10' height='16' viewbox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9.64062 8.42188C9.875 8.1875 9.875 7.85938 9.64062 7.625L2.79688 0.6875C2.5625 0.453125 2.1875 0.453125 2 0.6875L1.0625 1.625C0.828125 1.8125 0.828125 2.1875 1.0625 2.42188L6.59375 8L1.0625 13.625C0.828125 13.8594 0.828125 14.1875 1.0625 14.4219L2 15.3594C2.1875 15.5938 2.5625 15.5938 2.79688 15.3594L9.64062 8.42188Z' fill='#FFBC1C')
          .slide__part
            .slide__img
              img(src='https://picsum.photos/1920/900?random=9')
        .slide.pluses-slide
          .slide__part.slide__part--padding
            h3.slide__subtitle.title-second
              | Title 2
            .slide__info
              p
                | <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est fuga laudantium modi nostrum
                |  pariatur! Ab assumenda commodi, dignissimos distinctio id ipsum laborum minima mollitia, numquam odit
                |  sequi vel vitae voluptatibus?</span><span>Dolore dolorum, et ex minus nihil optio qui, quia quibusdam
                |  quis sed ullam vero. Accusantium aperiam, beatae dolor eligendi esse eum fugiat iure molestiae natus
                |  quia reprehenderit suscipit veritatis voluptas.</span>
            .slide__pagination
              .slide__btns
                button.slide__btn.slide__btn-prev.pluses-btn.pluses-btn--prev
                  svg(width='10' height='16' viewbox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9.64062 8.42188C9.875 8.1875 9.875 7.85938 9.64062 7.625L2.79688 0.6875C2.5625 0.453125 2.1875 0.453125 2 0.6875L1.0625 1.625C0.828125 1.8125 0.828125 2.1875 1.0625 2.42188L6.59375 8L1.0625 13.625C0.828125 13.8594 0.828125 14.1875 1.0625 14.4219L2 15.3594C2.1875 15.5938 2.5625 15.5938 2.79688 15.3594L9.64062 8.42188Z' fill='#FFBC1C')
                button.slide__btn.slide__btn-next.pluses-btn--next
                  svg(width='10' height='16' viewbox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9.64062 8.42188C9.875 8.1875 9.875 7.85938 9.64062 7.625L2.79688 0.6875C2.5625 0.453125 2.1875 0.453125 2 0.6875L1.0625 1.625C0.828125 1.8125 0.828125 2.1875 1.0625 2.42188L6.59375 8L1.0625 13.625C0.828125 13.8594 0.828125 14.1875 1.0625 14.4219L2 15.3594C2.1875 15.5938 2.5625 15.5938 2.79688 15.3594L9.64062 8.42188Z' fill='#FFBC1C')
          .slide__part
            .slide__img
              img(src='https://picsum.photos/1920/900?random=34')
        .slide.pluses-slide
          .slide__part.slide__part--padding
            h3.slide__subtitle.title-second
              | Title 3
            .slide__info
              p
                | <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est fuga laudantium modi nostrum
                |  pariatur! Ab assumenda commodi, dignissimos distinctio id ipsum laborum minima mollitia, numquam odit
                |  sequi vel vitae voluptatibus?</span><span>Dolore dolorum, et ex minus nihil optio qui, quia quibusdam
                |  quis sed ullam vero. Accusantium aperiam, beatae dolor Тест
            .slide__pagination
              .slide__btns
                button.slide__btn.slide__btn-prev.pluses-btn.pluses-btn--prev
                  svg(width='10' height='16' viewbox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9.64062 8.42188C9.875 8.1875 9.875 7.85938 9.64062 7.625L2.79688 0.6875C2.5625 0.453125 2.1875 0.453125 2 0.6875L1.0625 1.625C0.828125 1.8125 0.828125 2.1875 1.0625 2.42188L6.59375 8L1.0625 13.625C0.828125 13.8594 0.828125 14.1875 1.0625 14.4219L2 15.3594C2.1875 15.5938 2.5625 15.5938 2.79688 15.3594L9.64062 8.42188Z' fill='#FFBC1C')
                button.slide__btn.slide__btn-next.pluses-btn--next
                  svg(width='10' height='16' viewbox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9.64062 8.42188C9.875 8.1875 9.875 7.85938 9.64062 7.625L2.79688 0.6875C2.5625 0.453125 2.1875 0.453125 2 0.6875L1.0625 1.625C0.828125 1.8125 0.828125 2.1875 1.0625 2.42188L6.59375 8L1.0625 13.625C0.828125 13.8594 0.828125 14.1875 1.0625 14.4219L2 15.3594C2.1875 15.5938 2.5625 15.5938 2.79688 15.3594L9.64062 8.42188Z' fill='#FFBC1C')
          .slide__part
            .slide__img
              img(src='https://picsum.photos/1920/900?random=5')

